name: Monsters-Web
on:
  push:
    branches:
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - run: npm install -g yarn
      - run: yarn --version
      - run: npm install
      - run: yarn build
      - name : deploy
        uses: @jamesives/github-pages-deploy-action@4.1.3
        with:
          branch: gh-pages
          folder: build


